@import url('normalize.css');
@import url('foundation.min.css');
@import url('font-awesome.min.css');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1em;
	background-color: white;
}

header {
    height: 70px;
    background: linear-gradient(#43AC6A, white);
    
    /*
    background: #1e5799;
    background: -webkit-linear-gradient(top,  #1e5799 0%,#7db9e8 100%);
    background: -moz-linear-gradient(top,  #1e5799 0%, #7db9e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#7db9e8));
    background: -o-linear-gradient(top,  #1e5799 0%,#7db9e8 100%);
    background: -ms-linear-gradient(top,  #1e5799 0%,#7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
    background-attachment: fixed;
    */
}

div#sidebar {
    float: left;
    width: 200px;
    height:calc(100% - 70px);
    overflow: hidden;
}

div#container {
    height: calc(100% - 70px);
    overflow-y: scroll;
}

div#sidebar ul.navigation {
	list-style-type: none;
	margin: 0;
}
div#sidebar ul.navigation  li{
	margin-bottom: 10px;
}

.row {
    max-width: 100%;
}

#sidebar .active .arrow_box {
	position: relative;
	background: #008CBA;
	border: 1px solid #c2e1f5;
}
#sidebar a {
    padding-left: 20px;
}

/* http://cssarrowplease.com/ */
#sidebar .active .arrow_box  a {
	color: white;
}
#sidebar .arrow_box  a {
	color: black;
}
#sidebar .active .arrow_box:after, .arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
#sidebar .active .arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #008CBA;
	border-width: 12px;
	margin-top: -12px;
}
#sidebar .active .arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #c2e1f5;
	border-width: 13px;
	margin-top: -13px;
}

#desktop-alert-placeholder {
    position: fixed; 
    bottom: 0; 
    right: 0; 
    z-index: 9999; 
    min-width: 300px;
}


