<div>
	<script id='clock' type='x-tmpl-mustache'>
		<div>
			<h4>{{hours}}:{{minutes}}:{{seconds}}</h4>
			<h5>{{day}}/{{month}}/{{year}}</h5>
			<small>UTC{{offset}}</small>
		</div>
	</script>
</div>