<div>
	<script id='clock-world-clock-composition' type='x-tmpl-mustache'>
		<div class='row'>
		     <div class='small-4 columns' data-module='clockModule' data-utc-offset='-4'>
		     </div>
             	     <div class='small-4 columns' data-module='clockModule' data-utc-offset='-3'>
		     </div>
		     <div class='small-4 columns' data-module='clockModule' data-utc-offset='-2'>
		     </div>
		</div>
		<div class='row'>
		     <div class='small-4 columns' data-module='clockModule' data-utc-offset='-1'>
		     </div>
             	     <div class='small-4 columns' data-module='clockModule' data-utc-offset='0'>
		     </div>
		     <div class='small-4 columns' data-module='clockModule' data-utc-offset='1'>
		     </div>
		</div>
		<div class='row'>
		     <div class='small-4 columns' data-module='clockModule' data-utc-offset='2'>
		     </div>
             	     <div class='small-4 columns' data-module='clockModule' data-utc-offset='3'>
		     </div>
		     <div class='small-4 columns' data-module='clockModule' data-utc-offset='4'>
		     </div>
		</div>
	</script>
</div>