<div>
	<script id='system-users-composition' type='x-tmpl-mustache'>
		<div class='row'>
		     <div class='small-8 columns' data-module='usersGridModule'>
		     </div>
             <div class='small-4 columns' data-module='usersAddUserModule'>
		     </div>
		</div>
	</script>
</div>