<div>
    <script id='usersGrid' type='x-tmpl-mustache'>
        <div>
            <h1 data-i18n='usersModule.title.list'></h1>
            <table class='table' style='width: 100%;'>
                <thead>
                    <tr>
                        <th data-i18n='usersModule.label.name'></th>
                        <th data-i18n='usersModule.label.surname'></th>
                        <th data-i18n='usersModule.label.email'></th>
                        <th data-i18n='usersModule.label.phone'></th>
                        <th data-i18n='usersModule.label.actions'></th>
                    </tr>
                </thead>
                <tbody>
                    {{#users}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{surname}}</td>
                            <td>{{email}}</td>
                            <td>{{phone}}</td>
                            <td>
                                <a href='#' class='button tiny warning' data-btn-delete data-name='{{name}}' data-surname='{{surname}}' data-i18n='generic.label.delete'></a>
                            </td>
                        </tr>
                    {{/users}}
                </tbody>
            </table>
        </div>
    </script>
    
    <script id='usersAddUserBtn' type='x-tmpl-mustache'>
        <div>
            <h1 data-i18n='usersModule.title.addUser'></h1>
            <a href='#' data-btn-add-user class='button tiny default' data-i18n='usersModule.label.addUser'></a>
        </div>
    </script>
    
    <script id='usersAddUserForm' type='x-tmpl-mustache'>
        <div>
            <form data-abide='ajax'>
                <div>
                    <label data-i18n='[prepend]usersModule.label.name'>
                        <input type='text' name='name' required pattern='alpha' />
                    </label>
                    <small class='error' data-i18n='generic.validation.requiredAlphaField'></small>
                </div>
                <div>
                    <label data-i18n='[prepend]usersModule.label.surname'>
                        <input type='text' name='surname' required pattern='alpha' />
                    </label>
                    <small class='error' data-i18n='generic.validation.requiredAlphaField'></small>
                </div>
                <div>
                    <label data-i18n='[prepend]usersModule.label.email'>
                        <input type='text' name='email' required pattern='email' />
                    </label>
                    <small class='error' data-i18n='generic.validation.requiredEmailField'></small>
                </div>
                <div>
                    <label data-i18n='[prepend]usersModule.label.phone'>
                        <input type='text' name='phone' required />
                    </label>
                    <small class='error' data-i18n='generic.validation.requiredField'></small>
                </div>
                <div>
                    <button class='button tiny default' data-i18n='generic.label.save'></button>
                    <a href='#' data-btn-new-user-form-cancel class='button tiny alert' data-i18n='generic.label.cancel'></a>
                </div>
            </form>
        </div>
    </script>
</div>